# Chapter 6: Data Loading, Storage, and File Formats
## 6.1 Introduction
Data analysis typically begins with loading data from various file formats into a suitable data structure for manipulation and analysis. Pandas provides robust tools for reading and writing data in multiple formats, making it easier to work with diverse datasets.

In [1]:
# At first we need to install pandas library
!pip install pandas 
import pandas as pd 
# Pandas is a powerful data manipulation library in Python that provides data structures like Series and DataFrame for handling and analyzing data efficiently.

Requirement already satisfied: pandas in /Users/pyaethazin/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /Users/pyaethazin/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/pyaethazin/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/pyaethazin/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/pyaethazin/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/pyaethazin/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
#  Cell 1 â€” Imports & display settings
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import re
import json
import requests
from io import StringIO, BytesIO
from zipfile import ZipFile
from urllib.request import urlopen

## 6.2 Reading and Writing Files
### 6.2.1 CSV Files
CSV (Comma-Separated Values) files are one of the most common formats for storing tabular data. Pandas provides the `read_csv` function to read CSV files into a DataFrame and the `to_csv` method to write DataFrames back to CSV files.           
### 6.2.2 Excel Files
Pandas can read and write Excel files using the `read_excel` function and the `to_excel` method. This requires the `openpyxl` or `xlrd` library for reading Excel files.           
### 6.2.3 JSON Files
JSON (JavaScript Object Notation) is a lightweight data interchange format. Pandas provides the `read_json` function to read JSON files and the `to_json` method to write DataFrames to JSON format.           
### 6.2.4 SQL Databases
Pandas can interact with SQL databases using the `read_sql` function to read data from a SQL query or database table and the `to_sql` method to write DataFrames to a SQL database. This requires a database connection, typically established using libraries like `sqlite3` or `SQLAlchemy    `.           
## 6.3 File Formats
### 6.3.1 CSV (Comma-Separated Values)
CSV files are plain text files that use commas to separate values. They are widely used for data    exchange due to their simplicity and compatibility with various software applications.

In [3]:
# At first we need to create the dataframe to save the all data files types
# So. We will create the student data with "Name, City, Class, telephone, Email, Scholarship status"  dataframe all the data files types.
student_data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "City": ["New York", "Los Angeles", "Chicago", "Houston", " Phoenix"],
    "Class": ["10th", "11th", "10th", "12th", "11th"],      
    "Telephone": ["123-456-7890", "987-654-3210", "555-666-7777", "444-555-6666", "111-222-3333"],
    "Email": ["alice@arizona.edu", "bob@arizona.edu", "charlie@13.ariozna.edu", "david@arizona.edu", "evalauife@arizona.edu"],  
    "Scholarship Status": [True, False, True, False, True]
}       

# Create a DataFrame
df = pd.DataFrame(student_data)         
print("Original DataFrame:")
print(df)   
# Display the DataFrame     
print("\nDataFrame Info:")
print(df.info())
print("\nDataFrame Description:")
print(df.describe(include='all'))
# Display the first few rows of the DataFrame
print("\nDataFrame Head:")
print(df.head())
# Display the last few rows of the DataFrame
print("\nDataFrame Tail:")

Original DataFrame:
      Name         City Class     Telephone                   Email  \
0    Alice     New York  10th  123-456-7890       alice@arizona.edu
1      Bob  Los Angeles  11th  987-654-3210         bob@arizona.edu
2  Charlie      Chicago  10th  555-666-7777  charlie@13.ariozna.edu
3    David      Houston  12th  444-555-6666       david@arizona.edu
4      Eva      Phoenix  11th  111-222-3333   evalauife@arizona.edu

   Scholarship Status
0                True
1               False
2                True
3               False
4                True

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                5 non-null      object
 1   City                5 non-null      object
 2   Class               5 non-null      object
 3   Telephone           5 non-null      object
 4   Email               5 non-null      object
 5   Scholarship Status  5 non-null      bool
dtypes: bool(1), object(5)
memory usage: 337.0+ bytes
None

DataFrame Description:
         Name      City Class     Telephone              Email  \
count       5         5     5             5                  5
unique      5         5     3             5                  5
top     Alice  New York  10th  123-456-7890  alice@arizona.edu
freq        1         1     2             1                  1

       Scholarship Status
count                   5
unique                  2
top                  True
freq                    3

DataFrame Head:
      Name         City Class     Telephone                   Email  \
0    Alice     New York  10th  123-456-7890       alice@arizona.edu
1      Bob  Los Angeles  11th  987-654-3210         bob@arizona.edu
2  Charlie      Chicago  10th  555-666-7777  charlie@13.ariozna.edu
3    David      Houston  12th  444-555-6666       david@arizona.edu
4      Eva      Phoenix  11th  111-222-3333   evalauife@arizona.edu

   Scholarship Status
0                True
1               False
2                True
3               False
4                True

DataFrame Tail:

In [4]:
# Now is time to save our dataframe to different file types
# 1. Save as CSV
df.to_csv('student_data.csv', index=False)
print("\nDataFrame saved as student_data.csv")
# 2. Save as Excel
df.to_excel('student_data.xlsx', index=False)
print("DataFrame saved as student_data.xlsx")
# 3. Save as JSON 
df.to_json('student_data.json', orient='records', lines=True)
print("DataFrame saved as student_data.json")
# 4. Save as Parquet     
df.to_parquet('student_data.parquet', index=False)
print("DataFrame saved as student_data.parquet")
# 5. Save as HTML
df.to_html('student_data.html', index=False)
print("DataFrame saved as student_data.html")
# 6. Save as HDF5
df.to_hdf('student_data.h5', key='df', mode='w')
print("DataFrame saved as student_data.h5")

DataFrame saved as student_data.csv
DataFrame saved as student_data.xlsx
DataFrame saved as student_data.json
DataFrame saved as student_data.parquet
DataFrame saved as student_data.html
DataFrame saved as student_data.h5

### 6.4 Call the created our data

In [7]:
# Call data from csv file
student_data_csv = pd.read_csv('student_data.csv')
print("\nData from student_data.csv:")
print(student_data_csv)
# Check the data type
print("\nData Types from student_data.csv:")    

student_data_csv.dtypes
# Check for the some head rows
student_data_csv.head()

Data from student_data.csv:
      Name         City Class     Telephone                   Email  \
0    Alice     New York  10th  123-456-7890       alice@arizona.edu
1      Bob  Los Angeles  11th  987-654-3210         bob@arizona.edu
2  Charlie      Chicago  10th  555-666-7777  charlie@13.ariozna.edu
3    David      Houston  12th  444-555-6666       david@arizona.edu
4      Eva      Phoenix  11th  111-222-3333   evalauife@arizona.edu

   Scholarship Status
0                True
1               False
2                True
3               False
4                True

Data Types from student_data.csv:

,Name,City,Class,Telephone,Email,Scholarship Status
0,Alice,New York,10th,123-456-7890,alice@arizona.edu,True
1,Bob,Los Angeles,11th,987-654-3210,bob@arizona.edu,False
2,Charlie,Chicago,10th,555-666-7777,charlie@13.ariozna.edu,True
3,David,Houston,12th,444-555-6666,david@arizona.edu,False
4,Eva,Phoenix,11th,111-222-3333,evalauife@arizona.edu,True

In [8]:
# Now is call from excel file
student_data_excel = pd.read_excel('student_data.xlsx')
print("\nData from student_data.xlsx:")
print(student_data_excel)
# Check the data type
print("\nData Types from student_data.xlsx:")
student_data_excel.dtypes
# Check for the some head rows
student_data_excel.head()

Data from student_data.xlsx:
      Name         City Class     Telephone                   Email  \
0    Alice     New York  10th  123-456-7890       alice@arizona.edu
1      Bob  Los Angeles  11th  987-654-3210         bob@arizona.edu
2  Charlie      Chicago  10th  555-666-7777  charlie@13.ariozna.edu
3    David      Houston  12th  444-555-6666       david@arizona.edu
4      Eva      Phoenix  11th  111-222-3333   evalauife@arizona.edu

   Scholarship Status
0                True
1               False
2                True
3               False
4                True

Data Types from student_data.xlsx:

,Name,City,Class,Telephone,Email,Scholarship Status
0,Alice,New York,10th,123-456-7890,alice@arizona.edu,True
1,Bob,Los Angeles,11th,987-654-3210,bob@arizona.edu,False
2,Charlie,Chicago,10th,555-666-7777,charlie@13.ariozna.edu,True
3,David,Houston,12th,444-555-6666,david@arizona.edu,False
4,Eva,Phoenix,11th,111-222-3333,evalauife@arizona.edu,True

In [9]:
# form json file
student_data_json = pd.read_json('student_data.json', lines=True)
print("\nData from student_data.json:")         
print(student_data_json)

Data from student_data.json:
      Name         City Class     Telephone                   Email  \
0    Alice     New York  10th  123-456-7890       alice@arizona.edu
1      Bob  Los Angeles  11th  987-654-3210         bob@arizona.edu
2  Charlie      Chicago  10th  555-666-7777  charlie@13.ariozna.edu
3    David      Houston  12th  444-555-6666       david@arizona.edu
4      Eva      Phoenix  11th  111-222-3333   evalauife@arizona.edu

   Scholarship Status
0                True
1               False
2                True
3               False
4                True

In [10]:
# now is call from parquet file 
student_data_parquet = pd.read_parquet('student_data.parquet')
print("\nData from student_data.parquet:")         
print(student_data_parquet)        
# Check the data type
print("\nData Types from student_data.parquet:")
student_data_parquet.dtypes
# Check for the some head rows
student_data_parquet.head()

Data from student_data.parquet:
      Name         City Class     Telephone                   Email  \
0    Alice     New York  10th  123-456-7890       alice@arizona.edu
1      Bob  Los Angeles  11th  987-654-3210         bob@arizona.edu
2  Charlie      Chicago  10th  555-666-7777  charlie@13.ariozna.edu
3    David      Houston  12th  444-555-6666       david@arizona.edu
4      Eva      Phoenix  11th  111-222-3333   evalauife@arizona.edu

   Scholarship Status
0                True
1               False
2                True
3               False
4                True

Data Types from student_data.parquet:

,Name,City,Class,Telephone,Email,Scholarship Status
0,Alice,New York,10th,123-456-7890,alice@arizona.edu,True
1,Bob,Los Angeles,11th,987-654-3210,bob@arizona.edu,False
2,Charlie,Chicago,10th,555-666-7777,charlie@13.ariozna.edu,True
3,David,Houston,12th,444-555-6666,david@arizona.edu,False
4,Eva,Phoenix,11th,111-222-3333,evalauife@arizona.edu,True

## 6.5 Handling Missing Data
Missing data is a common issue in real-world datasets. Pandas provides several methods to handle missing data, including:
- `isnull()` and `notnull()`: Functions to detect missing values
- `dropna()`: Method to remove rows or columns with missing values
- `fillna()`: Method to fill missing values with a specified value or method (e

In [11]:
# let's create some artificial internet usetime data for to handle the missing data
internet_use_time_data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank", "Grace", "Hannah", "Ian", "Jack"],
    "Internet Use Time (hours/week)": [15, 20, np.nan, 25, 30, np.nan, 10, 5, np.nan, 40]
}                       
internet_use_df = pd.DataFrame(internet_use_time_data)
print("Internet Use Time DataFrame with Missing Values:")
print(internet_use_df)

Internet Use Time DataFrame with Missing Values:
      Name  Internet Use Time (hours/week)
0    Alice                            15.0
1      Bob                            20.0
2  Charlie                             NaN
3    David                            25.0
4      Eva                            30.0
5    Frank                             NaN
6    Grace                            10.0
7   Hannah                             5.0
8      Ian                             NaN
9     Jack                            40.0

## Summary for Chapter 6 
### "Data Loading, Storage, and File Formats"

In this chapter, we explored the essential techniques for loading, storing, and handling data using Pandas. We covered various file formats such as CSV, Excel, JSON, and SQL databases, demonstrating how to read and write data efficiently. Additionally, we addressed the common challenge of missing data and introduced methods to detect, remove, or fill in missing values. Mastering these skills is crucial for effective data analysis and ensures that you can work with diverse datasets seamlessly.